@page "/"
@inject IJSRuntime JS

<div>
    <div class="board">
        @for (int i = 0; i < 3; i++)
        {
            int row = i;
            for (int j = 0; j < 3; j++)
            {
                int col = j;
                <div class="square" @onclick="()=> SquareCliked(row, col)">
                    <h5 class="char">@* @Board[row, col] *@  </h5>
                </div>
            }
        }
    </div>

    <p style="width:100%; align-content: center">(@(rowClicked+1), @(columnClicked+1))</p>
</div>


